 # H1: ***Data Science Tools and Ecosystem***

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular languages that Data Scientists 
- List of commonly used libraries used by Data Scientists
- Data Science Tools
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|-----------|
| Git |
| Visual Studio Code | 
| Atom |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## H2: Author

Khushboo Patel